.container {
  background-color: #F9F9F9;
  background-image: url("../public/assets/bg.jpg");
  background-size: 60%;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex: 1;
}

.content {
  padding: 1rem;
}

.loginForm {
  background-color: #FFFFFF;
  width: 400px;
  height: fit-content;
  flex-direction: column;
  padding: 40px;
}

.btn {
  background-image: linear-gradient(to right, #AE23A9, #DC4E1B);
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
