.container {
  background-color: #F9F9F9;
  background-image: url("../public/assets/bg.jpg");
  background-size: 60%;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex: 1;
}

.content {
  padding: 1rem;
}

.loginForm {
  background-color: #FFFFFF;
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  box-shadow: 0px 0px 10px 1px #9B9B9B;
}

.divLogo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputStyle {
  padding: 10px;
  border: 1px solid #4A4A4A;
  width: 100%;
}

.btn {
  background-image: linear-gradient(to right, #AE23A9, #DC4E1B);
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
